/* FONT */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600');

/* GENERAL */

:host {
  width: 100%;
}
iframe{
  width: 100%;
}
.buttons-container{
  padding: 10px;
  text-align: center;
}
.view-container {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.descripcion {
  margin-top: -10px;
  font-family: 'Segoe UI', sans-serif;
  font-size: 20px;
}

.titulo {
  margin-top: -10px;
  margin-bottom: 34px;
  font-family: 'Segoe UI', sans-serif;
  font-size: 44px;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 80%;
  max-height: 76%;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  overflow: auto;
  min-width: 55%;
  text-align: left;

}
/* CHECKLIST */
mark {
    background-color: transparent;
    color: #232323;
}

input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 25%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }


  button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #147253;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-right: 10px;
  }
  button:hover,.form button:active,.form button:focus {
    background: #005f5f;
  }
