@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 0px;
  padding: 20px;
  margin: 30px;
  margin-left: 300px;
  margin-bottom: 40px;
}
.filters {
    padding: 10px;
    margin: 30px;
  }
.form {
  position:absolute;
  z-index: 1;
  background: #FFFFFF;
  width: 1200px;
  margin: 0px;
  padding: 45px;
  padding-bottom: 20px;
  text-align:left;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #147253;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}


.form button:disabled,
button[disabled]{
  border:0 solid #000000;
  background-color: #5c6d67;
  color: #3d3c3c;
}
.form button:hover,.form button:active,.form button:focus {
  background: #005f5f;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
body {
  background: #76b852; /* fallback for old browsers */
  background: rgb(141,194,111);
  background: linear-gradient(90deg, rgba(141,194,111,1) 0%, rgba(118,184,82,1) 50%);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

/* -------------------- Page Styles (not required) */
div { margin: 20px; }

/* -------------------- Select Box Styles: bavotasan.com Method (with special adaptations by ericrasch.com) */
/* -------------------- Source: http://bavotasan.com/2011/style-select-box-using-only-css/ */
.styled-select {
   height: 29px;
   width: 240px;
}

.styled-select select {
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

.styled-select.slate {
   height: 34px;
   width: 240px;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
}

/* -------------------- Rounded Corners */
.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

/* -------------------- Colors: Background */
.slate   { background-color: #ddd; }

/* -------------------- Colors: Text */
.slate select   { color: #000; }


html,body{
  width: 100%;
  height: 100%;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150%;
  z-index: 10000;
  margin-left: 620px;
  margin-top: 300px;
  min-width: 500px;
  height: 100%;
  background-color: #bababa;
}

.hidePopup{
  display: none;
}
.boxPopup{
  width: 600px;
  height: 200px;
  background-color: whitesmoke;
  padding: 7px;
  border-radius: 4px;
  z-index: 10000;
  box-shadow: 1px 1px 6px grey;
  transition:0.8s;
}


.msgPopup{
  text-align: left;
  font-size: 24px;
  font-family: helvetica;
  font-weight: bold;
  color: #424242;
  padding: 5px 0;
}

.descript{
  text-align: justify;
  font-size: 15px;
  font-family: helvetica;
  font-weight: 300;
  color: #424242;
  padding: 5px 0;
}


button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #147253;
  width: 60%;
  border: 0;
  padding: 10px 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}


.button:disabled,
button[disabled]{
  border:0 solid #000000;
  background-color: #5c6d67;
  color: #3d3c3c;
}
button:hover,button:active, button:focus {
  background: #005f5f;
}


#box {
  height: 100px;
  width: 1100px;
  border: 1px solid black;
  margin-bottom: 15px;
  position: relative;
  z-index: 11000;
}
