
<div class="baggage-page">
    <div class="form">
        <p style="margin-top:-10px;margin-bottom:34px;font-family: 'Segoe UI', sans-serif; font-size: 44px; text-align: left;">Equipaje/Carga</p>
        <p style="margin-top:-10px;font-family: 'Segoe UI', sans-serif; font-size: 20px;text-align: left;">En esta pantalla podra consultar el estado de cargas y equipajes.</p>
        <hr>
        <section class="task-list current">
            <input [(ngModel)]="BaggageCode" placeholder="Ingrese Codigo de Equipaje" />
            <input [(ngModel)]="PassengerCode" placeholder="Ingrese Identificacion de Pasajero" />
            <input [(ngModel)]="FlightCode" placeholder="Ingrese Codigo de Vuelo" />
            <button type="button" (click)="search()" style="margin-top:-10px;width:85px !important;height:45px !important; margin-left:15px;">Buscar</button>
        
          </section>
        <table mat-table [dataSource]="info" class="demo-table" *ngIf="showTable">
            <!-- Columna Codigo -->
            <ng-container matColumnDef="demo-id">
                <th mat-header-cell *matHeaderCellDef class="header"> Codigo </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="demo-idVuelo">
                <th mat-header-cell *matHeaderCellDef class="header"> Vuelo </th>
                <td mat-cell *matCellDef="let element"> {{element.idVuelo}} </td>
            </ng-container>

            <!-- Columna tipo -->
            <ng-container matColumnDef="demo-tipo">
                <th mat-header-cell *matHeaderCellDef class="header"> Tipo </th>
                <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
            </ng-container>

            <!-- Columna peso -->
            <ng-container matColumnDef="demo-peso">
                <th mat-header-cell *matHeaderCellDef class="header" > Peso </th>
                <td mat-cell *matCellDef="let element"> {{element.peso}} </td>
            </ng-container>

             <!-- Columna peso -->
             <ng-container matColumnDef="demo-estado">
                <th mat-header-cell *matHeaderCellDef class="header" > Estado </th>
                <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
            </ng-container>

            <ng-container matColumnDef="demo-CargaPas">
                <th mat-header-cell *matHeaderCellDef class="header" > ¿Es carga de pasajero? </th>
                <td mat-cell *matCellDef="let element"> {{element.cargaPasajero}} </td>
            </ng-container>

            <!-- Columna pasajero -->
            <ng-container matColumnDef="demo-tipoDoc">
                <th mat-header-cell *matHeaderCellDef class="header"> Tipo de Documento </th>
                <td mat-cell *matCellDef="let element"> {{element.tipoDoc}} </td>
            </ng-container>

            <!-- Columna pasajero -->
            <ng-container matColumnDef="demo-doc">
                <th mat-header-cell *matHeaderCellDef class="header"> Numero de Documento </th>
                <td mat-cell *matCellDef="let element"> {{element.doc}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>