<head>
  <meta charset="UTF-8">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
 </head>

<body class="news" style="margin-bottom:-850px;">
  <header *ngIf="userLogged">
    <div class="nav">        
      <ul >
        <li class="item" style="margin-top:120px;"><a routerLink="home">Inicio</a></li>
        <li class="item"><a routerLink="/flightRouteMaster">Maestro de Rutas de Vuelo</a></li>
        <li class="item"><a routerLink="/flightQuery">Vuelos Programados</a></li>
        <li class="item"><a routerLink="/check-list-vuelo">Check-List de Vuelo</a></li>   
        <li class="item"><a routerLink="/baggage-info">Equipaje / Carga</a></li>       
        <li  (click)="logOut()" class="logout" style="margin-top: 400px;" ><a [routerLink]="" (click)="logOut()">Cerrar Sesion</a></li>
      </ul>
    </div>      
  </header>
  <router-outlet></router-outlet>
</body>

<div class="container" *ngIf="showErrorLogin">
  <div class="boxPopup" id="popup">
    <div class="msgPopup">¡¡¡Error!!!</div>
    <div class="descript">Usuario o contraseña invalido.</div>
    <button id="btnClose" style="background-color: brown; width: 100px; margin-left: 180px;" (click)="showErrorLogin = false;">Cerrar</button>
  </div>
</div> 

<div class="login-page" *ngIf="!userLogged">
 
  <div class="form" *ngIf="!userLogged">     
    <form class="login-form">
      <p style="margin-top:-10px;margin-bottom: 20px;font-family: 'Oswald', sans-serif; font-size: 34px;">Iniciar Sesion</p>
      <div class="input_box">
  
        <input type="text" [(ngModel)]="usuario" [ngModelOptions]="{standalone: true}" placeholder="User" required>
      </div>
      <div class="input_box">
        <input type="password"  [(ngModel)]="contra" [ngModelOptions]="{standalone: true}" placeholder="Password" required>
        
      </div>
      <button (click)="validateUser()">Ingresar</button>
    </form>
  </div>
</div>
