<body class="news">
    <header>
      <div class="nav">        
        <ul>
          <li class="home"><a routerLink="">Home</a></li>
          <li class="passenger"><a routerLink="/passenger">Passenger</a></li>
          <li class="contact"><a href="#">Contact</a></li>
          <li class="login"><a routerLink="/login">Log In</a></li>
          <li class="check-list-vuelo"><a routerLink="/check-list-vuelo">CheckVuelo</a></li>
        </ul>
      </div>
    </header>
  </body>
<router-outlet></router-outlet>