<body>
  <div class="form" style="margin-top:-30px;">
    <i class="fa-solid fa-arrow-left" routerLink="/home" style="margin-bottom: 30px;cursor: pointer;">Volver</i>   
    <p style="margin-top:-10px;margin-bottom:34px;font-family: 'Segoe UI', sans-serif; font-size: 44px;">Check-List de Vuelo</p>
  <p style="margin-top:-10px;font-family: 'Segoe UI', sans-serif; font-size: 20px;">En esta pantalla podra hacer el Check-List de un vuelo.</p>
  <hr>
  <section class="task-list current">
    <p style="margin-top:0px;font-family: 'Oswald', sans-serif; font-size: 24px;">Vuelo</p>
    <input [(ngModel)]="code" placeholder="Ingrese Codigo de Vuelo" />
    <button (click)="search()" type="button" style="margin-top:-10px;width:120px !important;height:45px !important; margin-left:15px;"><i class="fa-solid fa-magnifying-glass" style="margin-right:10px;"></i>Buscar</button>

  </section>
  <div class="Error" *ngIf="showErrorCheckVuelo">
    <p style="margin-top:10px;font-family: 'Oswald', sans-serif; font-size: 20px; margin-left: 25px;">Ya se Realizo el Check List de este
      Vuelo</p>
    </div>

  <div class="Error" *ngIf="showErrorVuelo">
    <p style="margin-top:10px;font-family: 'Oswald', sans-serif; font-size: 20px;margin-left: 25px;">No existe el Vuelo especificado</p>
  </div>

  <div class="CheckList" *ngIf="showCheckList">
    <p style="margin-top:0px;font-family: 'Oswald', sans-serif; font-size: 22px;margin-left: 25px;">{{flight.code + " - " +
      flight.origin + " - " + flight.destination}}</p>
    <div style="margin-top:0px; margin-left:28px;height:450px;width:1150px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
      <p style="margin-top:0px;font-family: 'Oswald', sans-serif; font-size: 16px;">A.Cabina de vuelo (pilotaje)</p>
      <p style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;">General</p>
      <label style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;"><input type="checkbox"
          [(ngModel)]="a1">A.1.Estado general</label><br>
      <input type="checkbox" [(ngModel)]="a2"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="a2">A.2.Salida de
        emergencia</label><br>
      <input type="checkbox" [(ngModel)]="a3"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="a3">A.3.Equipamiento</label>

      <p style="font-family: 'Oswald', sans-serif; font-size: 14px;">Documentación</p>
      <label style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;"><input type="checkbox"
          [(ngModel)]="a4">A.4.Manuales</label><br>
      <input type="checkbox" [(ngModel)]="a5"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="a5">A.5.Listas de
        chequeo</label><br>
      <input type="checkbox" [(ngModel)]="a6"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="a6">A.6.Cartas de
        navegación</label><br>
      <input type="checkbox" [(ngModel)]="a7"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="a7">A.7.Lista de Equipamiento
        Mínimo</label><br>
      <input type="checkbox" [(ngModel)]="a8"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="a8">A.8.Certificado de Matrícula
        y Propiedad</label><br>
      <input type="checkbox" [(ngModel)]="a9"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="a9">A.9.Certificado de
        Ruido</label><br>
      <input type="checkbox" [(ngModel)]="a10"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="a10">A.10.CESA</label><br>
      <input type="checkbox" [(ngModel)]="a11"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="a11">A.11.Licencia de
        radioestación</label><br>
      <input type="checkbox" [(ngModel)]="a12"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="a12">A.12.Certificado de
        Aeronavegabilidad</label>

      <p style="font-family: 'Oswald', sans-serif; font-size: 14px;">Datos de vuelo</p>
      <label style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;"><input type="checkbox"
          [(ngModel)]="a13">A.13.Preparación del vuelo</label><br>
      <input type="checkbox" [(ngModel)]="a14"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="a14">A.14.Control de Peso y
        Balanceo</label>

      <p style="font-family: 'Oswald', sans-serif; font-size: 14px;">Equipamiento de Seguridad</p>
      <label style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;"><input type="checkbox"
          [(ngModel)]="a15" value="a15">A.15.Extintores portátiles</label><br>
      <input type="checkbox" [(ngModel)]="a16"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="a16">A.16.Salvavidas /
        Dispositivos de flotación</label><br>
      <input type="checkbox" [(ngModel)]="a17"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="a17">A.17.Cinturones /
        arneses</label><br>
      <input type="checkbox" [(ngModel)]="a18"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="a18">A.18.Oxígeno de
        emergencia</label><br>
      <input type="checkbox" [(ngModel)]="a19"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="a19">A.19.Linternas</label>

      <p style="font-family: 'Oswald', sans-serif; font-size: 14px;">Tripulantes</p>
      <label style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;"><input type="checkbox"
          [(ngModel)]="a20">A.20.Licencias</label>

      <p style="font-family: 'Oswald', sans-serif; font-size: 14px;">RTV / RNA</p>
      <label style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;"><input type="checkbox"
          [(ngModel)]="a21">A.21.RTV / RNA</label><br>
      <input type="checkbox" [(ngModel)]="a22"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="a22">A.22.Liberación de
        mantenimiento</label><br>
      <input type="checkbox" [(ngModel)]="a23"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="a23">A.23.Registro y solución de
        discrepancias</label><br>
      <input type="checkbox" [(ngModel)]="a24"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="a24">A.24.Inspección pre-vuelo /
        tránsito</label>

      <p style="font-family: 'Oswald', sans-serif; font-size: 16px;">B.Equipamiento de emergencia / Cabina de Pasajeros
      </p>
      <label style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;"><input type="checkbox"
          [(ngModel)]="b1">B.1.Estado interior general</label><br>
      <input type="checkbox" [(ngModel)]="b2"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="b2">B.2.Puestos / áreas de
        descanso TCP</label><br>
      <input type="checkbox" [(ngModel)]="b3"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="b3">B.3.FAK / EMK (Equipo de
        Primeros Auxilios / Equipo de Médico de Emergencia)</label><br>
      <input type="checkbox" [(ngModel)]="b4"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="b4">B.4.Extintores portátiles
        (PFE)</label><br>
      <input type="checkbox" [(ngModel)]="b5"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="b5">B.5.Salvavidas /
        Dispositivos de flotación</label><br>
      <input type="checkbox" [(ngModel)]="b6"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="b6">B.6.Cinturones y
        asientos</label><br>
      <input type="checkbox" [(ngModel)]="b7"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="b7">B.7.Salidas de emergencia,
        iluminación, megáfonos, linternas y señales</label><br>
      <input type="checkbox" [(ngModel)]="b8"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="b8">B.8.Toboganes, balsas y
        ELT</label><br>
      <input type="checkbox" [(ngModel)]="b9"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="b9">B.9.Oxígeno de
        emergencia</label><br>
      <input type="checkbox" [(ngModel)]="b10"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="b10">B.10.Instrucciones de
        seguridad</label><br>
      <input type="checkbox" [(ngModel)]="b11"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="b11">B.11.TCP</label><br>
      <input type="checkbox" [(ngModel)]="b12"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="b12">B.12.Acceso a salidas de
        emergencia</label><br>
      <input type="checkbox" [(ngModel)]="b13"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="b13">B.13.Seguridad del equipaje
        en cabina</label><br>
      <input type="checkbox" [(ngModel)]="b14"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="b14">B.14.Capacidad /
        distribución de pasajeros</label>

      <p style="font-family: 'Oswald', sans-serif; font-size: 16px;">C.Condición Externa</p>
      <label style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;"><input type="checkbox"
          [(ngModel)]="c1">C.1.Estado exterior general</label><br>
      <input type="checkbox" [(ngModel)]="c2"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="c2">C.2.Puertas, manijas y
        ventanillas</label><br>
      <input type="checkbox" [(ngModel)]="c3"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="c3">C.3.Controles de
        vuelo</label><br>
      <input type="checkbox" [(ngModel)]="c4"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="c4">C.4.Ruedas, neumáticos y
        frenos</label><br>
      <input type="checkbox" [(ngModel)]="c5"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="c5">C.5.Tren de
        aterrizaje</label><br>
      <input type="checkbox" [(ngModel)]="c6"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="c6">C.6.Bahía de trenes de
        aterrizaje</label><br>
      <input type="checkbox" [(ngModel)]="c7"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="c7">C.7.Motores y
        barquillas</label><br>
      <input type="checkbox" [(ngModel)]="c8"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="c8">C.8.Álabes de
        fan</label><br>
      <input type="checkbox" [(ngModel)]="c9"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="c9">C.9.Hélices</label><br>
      <input type="checkbox" [(ngModel)]="c10"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="c10">C.10.Reparaciones
        evidentes</label><br>
      <input type="checkbox" [(ngModel)]="c11"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="c11">C.11. Daño evidente sin
        reparar</label><br>
      <input type="checkbox" [(ngModel)]="c12"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="c12">C.12.Pérdidas</label>

      <p style="font-family: 'Oswald', sans-serif; font-size: 16px;">D.Carga</p>
      <label style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;"><input type="checkbox"
          [(ngModel)]="d1">D.1.Estado general</label><br>
      <input type="checkbox" [(ngModel)]="d2"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="d2">D.2.Mercancías
        Peligrosas</label><br>
      <input type="checkbox" [(ngModel)]="d3"> <label
        style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;" for="d3">D.3.Seguridad de la carga a
        bordo</label><br>

      <p style="font-family: 'Oswald', sans-serif; font-size: 16px;">E.General</p>
      <label style="font-family: 'Oswald', sans-serif; font-size: 14px;margin-top:0px;"><input type="checkbox"
          [(ngModel)]="e1">E.1.Estado general</label>


    </div>
    <button style="margin-top: 20px ;margin-left:330px;" (click)="save()" type="button">Guardar</button>
  </div>


  </div>
</body>