<div class="flight-query-page">
    <div class="loading" *ngIf="showLoadAnimation">Loading&#8230;</div>
    <div class="form">
        <i class="fa-solid fa-arrow-left" style="margin-bottom: 30px;display: block;text-align: left;cursor: pointer;width: 80px;" routerLink="/home" >Volver</i>
        <p class="titulo">Vuelos Programados</p>
        <p class="descripcion">En esta pantalla podra visualizar los vuelos programados.</p>
        <hr >

        <div class="table-container">
            <table mat-table [dataSource]="vuelos" class="demo-table">
                <!-- Columna Codigo -->
                <ng-container matColumnDef="demo-code">
                    <th mat-header-cell *matHeaderCellDef class="header"> Codigo </th>
                    <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                </ng-container>

                <!-- Columna Compañia -->
                <ng-container matColumnDef="demo-company">
                    <th mat-header-cell *matHeaderCellDef class="header"> Compañia </th>
                    <td mat-cell *matCellDef="let element"> {{element.company}} </td>
                </ng-container>

                <!-- Columna dia -->
                <ng-container matColumnDef="demo-day">
                    <th mat-header-cell *matHeaderCellDef class="header"> Dia </th>
                    <td mat-cell *matCellDef="let element"> {{element.day}} </td>
                </ng-container>

                <!-- Columna hora -->
                <ng-container matColumnDef="demo-hour">
                    <th mat-header-cell *matHeaderCellDef class="header"> Hora </th>
                    <td mat-cell *matCellDef="let element"> {{element.hour}} </td>
                </ng-container>

                <!-- Columna salida -->
                <ng-container matColumnDef="demo-origin">
                    <th mat-header-cell *matHeaderCellDef class="header"> Origen </th>
                    <td mat-cell *matCellDef="let element"> {{element.origin}} </td>
                </ng-container>

                <!-- Columna destino -->
                <ng-container matColumnDef="demo-destination">
                    <th mat-header-cell *matHeaderCellDef class="header"> Destino </th>
                    <td mat-cell *matCellDef="let element"> {{element.destination}} </td>
                </ng-container>

                <!-- Columna routa -->
                <ng-container matColumnDef="demo-route">
                    <th mat-header-cell *matHeaderCellDef class="header"> Ruta </th>
                    <td mat-cell *matCellDef="let element"> {{element.route}} </td>
                </ng-container>

                <!-- Columna aeronave -->
                <ng-container matColumnDef="demo-aircraft">
                    <th mat-header-cell *matHeaderCellDef class="header"> Aeronave </th>
                    <td mat-cell *matCellDef="let element"> {{element.aircraft}} </td>
                </ng-container>

                <!-- Columna fecha -->
                <ng-container matColumnDef="demo-date">
                    <th mat-header-cell *matHeaderCellDef class="header"> Fecha </th>
                    <td mat-cell *matCellDef="let element"> {{element.date | date }} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <p class="descripcion" style="margin-top: 20px; margin-left: 10px ;">Ultima ejecución del proceso: {{lastExecution}}</p>
    </div>
</div>
