.flight-query-page {
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
}

.form {
    background: #FFFFFF;
    padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    width: 100%;
    margin: 0vh 10vw;
}

.table-container {
    max-height: calc(100vh - 285px);
    overflow: auto;

}

.header {
    background-color: #2a6d59;
    color: aliceblue;

}

.demo-table {
    width: 100%;
}

