  <!-- Showcase -->
  <div class="form">
  <section class="section-a">
    <div class="container">
      <div>
        <img src="https://i.imgur.com/IncPGsP.png" style="width:50%;margin-bottom: -350px;margin-top: -50px;">
        <h1>Ground Operations System</h1>
        <p>
          Sistema encargado de las operaciones terrestres, carga y despacho para la aerolinea Special Flights SA. 
        </p>
        <p>
          En este podra administra y gestionar todas aquellas operaciones como visualizar los vuelos programados, generar una ruta de vuelo con el Maestro de rutas de vuelo, 
          consultar el estado y detalle de carga o equipaje y realizar un seguimiento y control detallado de un vuelo en Check-List de vuelo.
        </p>
      </div>
    </div>
  </section>
</div>

