<div class="check-container">
  <div class="form">
    <i class="fa-solid fa-arrow-left" style="margin-bottom: 30px;display: block;text-align: left;cursor: pointer;width: 80px;" routerLink="/home">Volver</i>
    <p class="titulo">Check-List de  Comisariato</p>
    <p class="descripcion">En esta pantalla podra hacer el
      Check-List de comisariato para un vuelo.</p>
    <hr>
    <div class="loading" *ngIf="showLoadAnimation">Loading&#8230;</div>
    <section class="task-list current">
      <div>
        <div class="styled-select slate">
          <select [(ngModel)]="flightSelected">
            <option [ngValue]="null">Seleccione un vuelo</option>
            <option *ngFor="let d of flights" [ngValue]="d">{{d.idvuelo}}</option>
          </select>
        </div>
        <button (click)="search()" type="button"><i class="fa-solid fa-magnifying-glass"></i>Buscar</button>
      </div>
      <div class="loading" *ngIf="showLoadAnimation">Loading&#8230;</div>
    </section>
    <div class="Error" *ngIf="showErrorCheckComisariato">
      <p>Ya se Realizo el
        Check List de comisariato para este
        Vuelo</p>
    </div>

    <div class="Error" *ngIf="showErrorSupplies">
      <p>No está
        disponible la cantidad de Insumos</p>
    </div>

    <div class="CheckList" *ngIf="showCheckList">
      <p>{{flight.idvuelo
        + " - " +
        flight.origenteorico_codiata + " - " + flight.destinoteorico_codiata}}</p>
      <div>
        <label><input type="checkbox" [disabled]="isDisabled" [(ngModel)]="a1">{{"A.1. Cantidad de Menus Vegetarianos: "
          + vegetariano
          }}</label><br>
        <input type="checkbox" [disabled]="isDisabled" [(ngModel)]="a2"> <label for="a2">{{"A.2. Cantidad de Menus
          Veganos: " + vegano}}</label><br>
        <input type="checkbox" [disabled]="isDisabled" [(ngModel)]="a3"> <label for="a3">{{"A.3. Cantidad de Menus
          Celiacos: " + celiaco}}</label><br>

        <label><input type="checkbox" [disabled]="isDisabled" [(ngModel)]="a4">{{"A.4. Cantidad de Menus Estandar: " +
          estandar}}</label><br>
        <label><input type="checkbox" [disabled]="isDisabled" [(ngModel)]="a5">{{"A.5. Cantidad de Insumos Sanitarios: "
          + sanitarios}}</label><br>

      </div>
      <button (click)="save()" type="button">Guardar</button>
    </div>


  </div>
</div>
